<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WP Exam</title>
</head>
<body>

<div>
    <!-- The form below should invoke the method DiscussionController.showList -->
    <form id="filter-form">
        <label for="f1">Due in days</label>
        <input id="f1" name="daysUntilClosing"/>
        <label for="f2">Participant</label>
        <select id="f2" name="participantId">
            <option value="">All</option>
            <!-- For each user you should have one <option> like below  -->
<!--            <option> [user]</option>-->
            <option th:each="int: ${users}" th:value="${int.getId()}"><th:block th:text="${int.getUsername()}"/></option>

        </select>
        <button id="filter" type="submit">Filter</button>
    </form>
    <div>
        <th:block>
            <!-- DiscussionController.showAdd (Only MASTER can see this element)-->
            <a href="/discussions/add" class="add-item" sec:authorize="hasRole('ROLE_MASTER')">
                Add
            </a>
        </th:block>
    </div>
    <table>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Tag</th>
            <th>Participants</th>
            <th>Actions</th>
        </tr>
        <!-- For each discussion you should have one <tr> like below -->
        <tr class="item" th:each="dis : ${discussions}">
            <td th:text="${dis.getTitle()}"></td>
            <td th:text="${dis.getDescription()}"></td>
            <td th:text="${dis.getTag().name()}"></td>
            <td>
                <!-- For each of the discussion.participants show the following element-->
                <span class="item-rel" th:each="pa : ${dis.getParticipants()}"> <th:block th:text="${pa.getUsername()}"/></span>
            </td>
            <td>
                <th:block>
                    <!-- DiscussionController.delete (Only MASTER can see this element)-->
                    <form th:method="post" th:action="@{'/discussions/{id}/delete' (id=${dis.getId()})}"
                          sec:authorize="hasRole('ROLE_MASTER')">
                        <button type="submit" class="delete-item">Delete</button>
                    </form>
                    <!-- DiscussionController.showEdit (Only MASTER can see this element)-->
                    <a class="edit-item" th:href="@{'/discussions/{id}/edit' (id=${dis.getId()})}"
                       sec:authorize="hasRole('ROLE_MASTER')">Edit</a>

                </th:block>
                <!-- DiscussionController.markPopular (Visible only when the discussion is not already popular)-->
                <form th:method="post" th:action="@{'/discussions/{id}/mark_popular' (id=${dis.getId()})}"
                      th:if="${dis.getPopular()==false}"
                >
                    <button class="change-item">Mark as popular</button>
                </form>
            </td>
        </tr>
    </table>

</div>
<div>
    <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>
</body>
</html>
